.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top:55px;
  width: 72px;
  z-index: 200;
}

.sidebar-link{
  background-color: white;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4px;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(237, 237, 237);
  
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;

}
.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 10px;
}